body {
  background-image: url(pinap.jfif);
}

#wrapper {
  border: 2px solid black;
  background-color: #ffffff;
  width: 960px;
  margin: 1em auto;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px auto;
  display: grid;
}

header {
  grid-column: span 12;
  border-bottom: 2px solid black;
  margin-bottom: 10px;
  background-color: #1E9459;
  font-family: helvetica;
  padding-left: 10px;
}

h1 {
  font-weight: normal;
}

h2 {
  border-bottom: 2px solid black;
  padding-bottom: 6px;
}

nav {
  grid-column: span 12;
  margin-left: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  width: 230px;
}

nav li a {
  display: block;
  background-color: #39d9b4;
  border: 2px solid black;
  padding: 1em;
  color: white;
  text-decoration: none;
  text-align: center;
  margin: 1em;
}

main {
  grid-column: span 8;
  margin-left: 10px;
  font-family: Georgia;
}

a {
  color: #0aa783;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #134d3f;
  text-decoration: underline;
}

.paint {
  width: 350px;
  float: right;
  padding-left: 10px;
}

aside {
  grid-column: span 4;
  padding-left: 20px;
  border: 1px solid blank;
  background-color: #1E9459;
  margin: 10px 10px 0 10px;
  color: white;
  padding-right: 10px;
}

#italic {
  font-style: italic;
}

.side {
  border-bottom: 2px solid white;
}

footer {
border-top: 2px solid black;
grid-column: span 12;
margin-top: 10px;
background-color: #1E9459;
padding-left: 10px;
font-weight: bold;
}
